@import url(./__description/cards__description.css);
@import url(./__image/cards__image.css);
@import url(./__item/cards__item.css);
@import url(./__title/cards__title.css);

.cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack:left;
      -ms-flex-pack:left;
          justify-content:left;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style: none;
  padding: 0;
  width: 920px;
  margin: 0 auto 0;
}
