@import url(./__logo-zone/resources__logo-zone.css);
@import url(./__logo/resources__logo.css);

.resources {
  margin: 0;
  padding-top: 100px;
  padding-bottom: 217px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
