.form {
  padding-top: 35px ;
  padding-bottom: 40px;
  background-color: #f2f2f2;
}

.form__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
  width: 790px;
}

.form__contact {
  border: none;
  margin: 0;
  padding: 10px;
}

.form__label {
  color: #a3a3a3;
  display: block;
  margin: 0 0 5px;
  padding: 0px;
  width: 100%;
  font-weight: bold;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.form__contact-item {
  padding: 5px;
  margin-bottom: 30px;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 0;
  border-bottom: 1px solid #a3a3a3;
  background-color: transparent;
  font-family: inherit;
}

.form__contact-item:last-of-type {
  margin-bottom: 0;
}

.form__contact-item:focus {
  outline-color: #a3a3a3;
}

.form__comment {
  margin: 0;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border: none;
  min-width: 550px;
}

.form__comment-box {
  border: 0;
  padding: 10px;
  background-color: #e0e0e0;
  resize: none;
}

.form__comment-box:focus {
  outline-color: #a3a3a3;
}

.form__buttons {
  width: 100%;
  margin: 5px auto 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 15px;
}

.form__button {
  width: 230px;
  height: 25px;
  border: 0;
  border-radius: 1%;
  background-color: #e0e0e0;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
  -webkit-transition: background-color .2s ease-out, -webkit-transform .2s ease-out;
  transition: background-color .2s ease-out, -webkit-transform .2s ease-out;
  -o-transition: transform .2s ease-out, background-color .2s ease-out;
  transition: transform .2s ease-out, background-color .2s ease-out;
  transition: transform .2s ease-out, background-color .2s ease-out, -webkit-transform .2s ease-out;
  cursor: pointer;
}

.form__button:hover {
  -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
          transform: scale(1.05);
  background-color: #f2f2f2;
}

.form__button:active {
  -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
          transform: scale(1.05);
  background-color: #949494;
  outline-color: #797979;
}

.form__button:focus {
  outline-color: #e0e0e0;
}

.section-title_theme_gray {
  color: #a3a3a3;
  margin-bottom: 0;
}

.section-subtitle_theme_gray {
  color: #a3a3a3;
  margin-bottom: 10px;
}
