@import url(./__iframe/video__iframe.css);
@import url(./__container/video__container.css);

.video {
  position: relative;
  margin-bottom: 0;
  padding: 100px 0 0 0;
  background-image: -o-linear-gradient(white 87%, #f2f2f2 87%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(87%, white), color-stop(87%, #f2f2f2));
  background-image: linear-gradient(white 87%, #f2f2f2 87%);
}
