@import url(./__triangle/kaufman__triangle.css);

/* including elements with key-value modifiers */
.kaufman {
  margin: 0;
  padding: 90px 0 90px;
  background-color: #1f1f1f;
  display: flex;
  position: relative;
  z-index: 1;
  overflow: hidden;
  align-items: center;
  flex-direction: column;
}








