@-webkit-keyframes rotation {
  100% {
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
  }
}

@keyframes rotation {
  100% {
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
  }
}

.rotation {
  -webkit-animation: rotation 20s infinite linear;
          animation: rotation 20s infinite linear;
}
