.footer__column-links {
  margin-top: 0;
  margin-bottom: 0;
  text-decoration: none;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  color: inherit;
  list-style: none;
  padding-left: 0;
}
