.khan__buy-link {
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
  text-decoration: none;
  color: #2f80ed;
  margin: 0;
  padding: 0;
  min-width: 200px;
  -ms-flex-item-align: start;
      align-self: flex-start;
}
